body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}


.message {
    margin: 5px 0 10px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

.error {
    color: #ff4d4d;
    background: rgba(255, 77, 77, 0.1);
}

.logout {
    color: #2d79f3;
    background: rgba(45, 121, 243, 0.1);
}



.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

::placeholder {
    font-family: inherit;
    color: #a0a0a0;
}



.flex-column > label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}


.inputForm svg {
    margin-right: 5px;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;

    background-color: transparent;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-submit:hover {
    background-color: #2d79f3;
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.p.line {

    position: relative;
    margin: 20px 0 15px 0;
}

.p.line::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    border-top: 1px solid #ededef;
    z-index: 1;
}

.p.line {
    z-index: 2;
    background: #fff;
    padding: 0 10px;
    display: inline-block;
    color: #777;
}

.flex-row .btn {
    flex: 1;
}

.btn {
    margin-top: 10px;

    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: #151717;
}

.btn:hover {
    border: 1px solid #2d79f3;
}

